@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@500&display=swap');


*{
    font-family: 'Wix Madefor Text', 'Sans-serif';
}


body{
    margin: 0px;
}


/* Topo do site (Menu) */


#topo{
    background-color: #006494;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    align-items: center;
}


#topo-logo{
    padding: 5px 10px;
    width: 7%;
    display: inline;
}


#a1{
    width: 70%;
    display: inline;
}


nav{
    display: inline;
}


#topo div div{
    display: inline;
}


.Menu-links{
    width: 30%;
}


.Menu-links ul {
    list-style: none;
    padding: 0;
}


.Menu-links ul li{
    display: inline;
    font-size: 1em;
}


.Menu-links .link{
    position: relative;
    right: 30px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
}


.Menu-links .link:hover{
    color: #006494;
    background-color: white;
}


.atalhos{
    display: inline;
    position: relative;
    left: 20px;
}


.atalhos ul {
    list-style: none;
    padding: 0;
    display: inline;
}


.atalhos ul li{
    display: inline;
    font-size: 1em;
}


.atalhos .link{
    display: inline;
    position: relative;
    right: 30px;
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
    font-size: 0.8em;
}


.atalhos .link:hover{
    background-color: white;
    color: #006494;
}




/* Carrosel */
 
.carrosselImg {
    box-shadow: 0 1px 2px #0003;
    height: 100%;
    width: 100%;
    position: relative;
    bottom:45px
}
   
.swiper {
  height: 500px;
}
   
.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
#tituloCarrosel{
    color: #006494;
    margin-bottom: 0px;
    text-align: center;
    font-size: 3.0em;
    border-bottom: 3px solid #006494;
    border-top: 3px solid #006494;
    margin-top: 0.5em;
}


.swiper {
  height: 500px;
  margin-bottom: 20px;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: -2px;
}
 
@media (max-width: 650px) {
  .swiper {
    height: 270px;
  }
}


/* Banner informativo */


.banner{
    background-color: #006494;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bannerInverso{
    flex-direction: row-reverse;
}


.banner-texto{
    width: 49%;
    background-color: #006494;
    color: white;
    padding: 30px;
}


.banner-imagem{
    width: 50%;
    padding: 10px 0;


}


.teste{
    clear: both;
}




/* Vantagens */


#card-vantagen{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#vantagens{
    margin-bottom: 20px;
}


.vantagem{
    width: 30%;
    border: 2px solid black;
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    box-shadow: 2px 4px 10px black;
    margin-bottom: 25px;
}


.vantagem i{
    font-size: 3em;
}


#titulo-Vantagens{
    color: #006494;
    text-align: center;
}


/* Roda pé */


footer{
    display: flex;
    justify-content: space-between;
    background-color: #006494;
    color: white;
    align-items: center;
}


#rodape-redesSociais{
    margin-top: 15px;
    padding-left: 5px;
    font-size: 1.7em;
}


#rodape-redesSociais a{
    color: white;
    padding: 5px 3px 3px 3px;
}


#rodape-redesSociais a:hover{
    background-color: white;
    color: #006494;
    border-radius: 100%;
}


#rodape-informacoes{
font-size: 0.9em;
}


@media (max-width: 650px) {
    .banner-imagem {
      display: none;
    }


    .banner-texto{
        width: 100%;
    }


    #Menu-links{
        font-size: 0.8em;
    }
   
    #rodape-redesSociais{
        font-size: 1em;
    }
    .Acompanhe{
        display: none;
    }


    #rodape-informacoes{
        font-size: 0.5em;
    }


    #tituloCarrosel{
        font-size: 2.0em;
    }
}
